<html>
   <head>
      <!-- Importar archivos javascript -->
      <!-- Importar archivos css -->
      <!-- Escribir css -->
      <link rel="stylesheet" href="main.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
   </head>
   <!doctype html>
   <html lang="en">
      <head>
         <!-- Required meta tags -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- Bootstrap CSS -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
         <title>Pokedex</title>
      </head>
      <body>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
                  <div class="container">
                    <a class="navbar-brand" href="#">Pokedex</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarsExample07">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/capturas">Capturas</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="/perfil">Perfil</a>
                        </li>
                    </div>
                  </div>
                </nav>
            </div>
          </header>


         <div class="container">
            <form action="/capturas" method="GET">
              <div class="mb-3">
                <label for="searchNombre" class="form-label">Nombre a buscar</label>
                <input type="text" class="form-control" id="searchNombre" name="likeNombre" value="{{ likeNombre }}">
              </div>
              <button type="submit" class="btn btn-primary">Buscar</button>
            </form>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
               {{#each capturas }}
               <div class="col p-2">
                  <div class="card shadow-sm p-2">
                     <img src="{{ pokemon.principalImage }}" class="card-img-top" alt="{{ pokemon.nombre }}">
                     <div class="card-body">
                        <h5 class="card-title">
                            {{ apodo }}
                            {{#if nuevo}} <span class="badge rounded-pill bg-info">Nuevo</span> {{/if}}
                        </h5>
                        <p class="card-text">
                            Tiene un nivel de {{ nivel }}, fue capturado el  {{ fechaCaptura }} y
                            {{#if pokemon.evolucion }} tiene evolución
                            {{ else }} no tiene evolución.
                            {{/if}}
                        </p>
                     </div>
                  </div>
               </div>
               {{/each}}
            </div>
         </div>


         <footer class="footer">
             <p class="text-center">
               &copy; 2021 2diseños.com
             </p>
         </footer>
      </body>
   </html>